@use '../../../../css/variables.scss' as *;

.header {
    background: $black;
    padding: 16px 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text {
    color: $white;
    font-size: 22px;
    font-weight: 700;
}