@use '../../../../css/variables.scss' as *;
@use 'sass:color';

.header {
    background: $black;
    padding: 16px 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text {
    color: $white;
    font-size: 20px;
    font-weight: 800;
}