@use './variables.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    border: none;
    outline: none;
}

html,
body,
#app {
    height: 100%;
    background-color: $black;
    color: $white;
}