@use '../../../../css/variables.scss' as *;
@use 'sass:color';

.taskCard {
    background: $lightDark;
    padding: 4px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}
.title {
    color: $white;
    font-size: 16px;
    font-weight: 400;
}